<ion-view view-title="A Propos">
  <back-button></back-button>
    <ion-content class="padding">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dui quam, venenatis id lobortis sit amet,
        venenatis non leo. Quisque sed posuere orci. Nulla non semper tortor, nec tincidunt mauris. Curabitur et arcu
        quis massa vestibulum aliquam. Nunc ut odio lacus. Praesent et velit bibendum, pulvinar leo ut, molestie dolor.
        Vestibulum porttitor placerat justo, eu malesuada est convallis a. Aenean finibus purus aliquet aliquam tempus.
        Praesent felis sem, tincidunt varius lacus at, fermentum accumsan eros.
    </ion-content>
</ion-view>
