<ion-view view-title="Ajout Camera">
    <ion-content class="padding">
        <div class="list list-inset">
            <form>
                <label for="" class="item item-input">
                    <input ng-model="camera.name" type="text" placeholder="Nom de la Caméra">
                </label>
                <label for="" class="item item-input">
                    <input ng-model="camera.uid" type="text" placeholder="Numéro de la Caméra">
                </label>
                <button ng-click="addCamera($event)" type="submit" class="button button-block button-balanced">Ajouter
                </button>
            </form>

        </div>
    </ion-content>
</ion-view>