<ion-view view-title="Connexion">
  <ion-content class="padding">
    <div class="list list-inset">
      <form action="" ng-submit="login()">
        <label for="" class="item item-input">
          <input ng-model="user.username" type="text" placeholder="Username">
        </label>
        <label for="" class="item item-input">
          <input ng-model="user.password" type="text" placeholder="Mot de passe">
        </label>
        <button type="submit" class="button button-block button-positive">
          Envoyer
        </button>
      </form>
      
    </div>
  </ion-content>
</ion-view>