<ion-view view-title="Login">
  <ion-content class="padding">
    <div class="list list-inset">
      <label for="" class="item item-input">
        <input ng-model="lastname" type="text" placeholder="Nom">
      </label>
      <label for="" class="item item-input">
        <input ng-model="firstname" type="text" placeholder="Prénom">
      </label>
      <label for="" class="item item-input">
        <input ng-model="email" type="text" placeholder="E-mail">
      </label>
      <label for="" class="item item-input">
        <input ng-model="password" type="text" placeholder="Mot de passe">
      </label>
      <button class="button button-bock button-positive" ng-click="register()">
        Envoyer
      </button>
    </div>
  </ion-content>
</ion-view>