<ion-view view-title="Ajout Camera">
  <ion-content class="padding">
    <div class="list list-inset">
      <form action="" ng-submit="addCamera()">
        <label for="" class="item item-input">
          <input ng-model="camera.name" type="text" placeholder="Nom de la Caméra">
        </label>
        <label for="" class="item item-input">
          <input ng-model="camera.uid" type="text" placeholder="Numéro de la Caméra">
        </label>
        <button type="submit" class="button button-block button-positive">Ajouter</button>
      </form>

    </div>
  </ion-content>
</ion-view>
