<ion-view view-title="Propriétés">
    <ion-content class="padding">
<!--         <button class="button button-block button-balanced"> -->
            <a href="#/tab/camera/{{camera.id}}/historique">Historique</a>
        <!-- </button> -->
        <form>
            <label class="item item-input" id="page-input1">
                <span class="input-label">Editer le nom :</span>
                <input ng-model="camera.name" type="text">
            </label>
            <button ng-click="updateName()" type="submit" class="button button-block button-balanced">
                Valider
            </button>
        </form>

        <div class="item item-body" id="page-list-item-container1">
            <div id="page-markdown3">
                <p style="margin-top:0px;color:#000000;">Nom : {{camera.name}}</p>
                <p style="color:#000000;">Etat : {{camera.switchOn}}</p>
                <p style="color:#000000;">Socket : {{camera.socket}}</p>
                <p style="color:#000000;">Propriétaire : {{camera.owner.firstname}} {{camera.owner.lastname}}</p>
            </div>
        </div>

        <!--<ion-list id="page-list1">
            <ion-item id="page-list-item4">Nom : {{camera.name}}</ion-item>
            <ion-item id="page-list-item5">Etat : {{camera.switchOn}}</ion-item>
            <ion-item id="page-list-item6">Socket : {{camera.socket}}</ion-item>
            <ion-item id="page-list-item6">Propriétaire : {{camera.owner.firstname}} {{camera.owner.lastname}}</ion-item>
        </ion-list>-->
        
    </ion-content>
</ion-view>