<ion-view view-title="Dashboard">
  <ion-content class="padding">
      <button ng-click="addCamera()" id="page-button2" style="font-weight:300;color:#FFFFFF;font-size:18px;border-radius:5px 5px 5px 5px; margin-bottom:10px" class="button button-positive button-small">Ajouter une caméra</button>

      <ion-list ng-repeat="camera in cameras" id="page-list1 cam-tab" ng-switch on="camera.isOwner">
        <ion-item class="item-icon-right" id="page-list-item4">
            <a href="#/tab/camera/{{camera.camera.id}}">{{camera.camera.name}}</a>
            <i class="icon ion-record {{camera.color}}"></i>
            <a ng-click="openSettings({{camera.camera.id}})" ng-switch-when="true"><i class="icon ion-settings"></i> </a>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>