<ion-view view-title="{{camera.name}}">
  <ion-content>

    <div class="item item-image" id="webcam" style="max-width: 100%;">
        <!--<img src="http://webcam1.caplorient.fr/jpg/image.jpg?counter=1478160013058" name="camimage" width="640" height="480" border="0" style="max-width: 100%; max-height: 100%;">		-->
    </div>

    <div class="item range">
      <i class="icon ion-arrow-left-b"></i>
        <input type="range" name="rotation" id="angle_slider" class="vHorizon" min="4" max="180">
      <i class="icon ion-arrow-right-b"></i>
    </div>

    <div class="item" style="border: none; margin: 5px;">
        <label style="margin-right: 15px;">
          Etat de la caméra :
        </label>
        <label class="toggle toggle-balanced">
          <input ng-model="camera.switchOn" type="checkbox" ng-click="switch()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
    </div>

      <script src="/socket.io/socket.io.js"></script>
      <script src="../js/rotation.js"  type="text/javascript" ></script>

  </ion-content>
</ion-view>